<?xml version='1.0' encoding='UTF-8'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <security-role>
    <role-name>DIGEST_ROLE</role-name>
  </security-role>
  <security-role>
    <role-name>BASIC_ROLE</role-name>
  </security-role>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Restricted Access - Members Only</web-resource-name>
      <url-pattern>/cmmdc</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>DIGEST_ROLE</role-name>
    </auth-constraint>
    <auth-constraint>
      <role-name>BASIC_ROLE</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>DIGEST</auth-method>
    <auth-method>BASIC</auth-method>
    <!--
    <realm-name>My Basic Authentication Login Example</realm-name>
    -->
  </login-config>
  
	<!--
  <servlet>
    <servlet-name>cmmdc</servlet-name>
    <servlet-class>CmmdcServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>cmmdc</servlet-name>
    <url-pattern>/cmmdc</url-pattern>
  </servlet-mapping>
  -->
</web-app>

